{% set http_listeners = ['*:80'] %}
{% set https_listeners = ['*:443'] %}
{% if ansible_local.proserver.routing.with_gate64 -%}
{% set _ = http_listeners.append('[::]:87') %}
{% set _ = https_listeners.append('[::]:57') %}
{% endif %}

{% for src, dest in apache.redirects.items()|list %}
{% set src = src|urlsplit() %}
{% set dest = dest if dest is mapping else {'url': dest} %}
{% if src.scheme == 'http' %}
{% for i in http_listeners %}
<VirtualHost {{ i }}>
  {% if "87" in i %}
  RemoteIPProxyProtocol On
  {% endif %}
  ServerName {{ src.hostname }}
  DocumentRoot /var/null
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
  RewriteRule ^(.*)$ {{ dest['url'] }}{{ '$request_uri' if dest['url']|default(true) else '' }} [R=301,L]
</VirtualHost>
{% endfor %}

{% elif src.scheme == 'https' %}
{% for i in https_listeners %}
<VirtualHost {{ i }}>
  {% if "57" in i %}
  RemoteIPProxyProtocol On
  {% endif %}
  ServerName {{ src.hostname }}
  DocumentRoot /var/null
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
  RewriteRule ^(.*)$ {{ dest['url'] }}{{ '$request_uri' if dest['url']|default(true) else '' }} [R=301,L]

  SSLEngine on
  SSLCertificateFile {{ dehydrated | cert_fullchain(src.hostname) }}
  SSLCertificateChainFile {{ dehydrated | cert_fullchain(src.hostname) }}
  SSLCertificateKeyFile {{ dehydrated | cert_privkey(src.hostname) }}
</VirtualHost>

{% endfor %}
{% endif %}
{% endfor %}
